.start {
    background-image: url('/static/images/background/h_img.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    font-size: medium;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
    position: relative;
}
#mouse {
    margin-top: 300px;
}
#logo {
    margin-top: 250px;
}
.about {
    text-align: center;
}
.service {
    background-image: url('/static/images/background/s_image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    font-size: medium;
    text-align: center;  
    position: relative;  
}
.service h2  {
    padding-top: 150px;
}
#space {
    padding-bottom: 100px;
}
.contact {
    background-image: url('/static/images/background/c_image.jpg');
}
.design {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.d-description {
    position: absolute;
    top: 0;
    text-align: center;
    display: none;
}
.dev {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dev-des {
    display: none;
    position: absolute;
    top: 0;
    text-align: center;   
}

}
.product{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}
.pro-des {
    display: none;
    position: absolute;
    top: 0;
    text-align: center;  
}


    


