.start {
    background-image: url('/static/images/background/h_img.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
    position: relative;
    
}
.start h1{
    padding: 2px;
    margin: 5px;
}
.start p {
    padding: 2px;
}
#mouse {
    margin-top: 100px;
    margin-bottom: 50px;
}
#logo {
    margin-top: 180px;
    size: 10px;
}
.about {
    text-align: center;
    font-family: 'Open Sans', sans-serif;;
}
.service {
    background-image: url('/static/images/background/s_image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    font-size: medium;
    text-align: center;  
    position: relative;  
}
.service h2  {
    padding-top: 150px;
}
#space {
    padding-bottom: 100px;
}
.contact {
    background-image: url('/static/images/background/c_image.jpg');
}
.design {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.d-description {
    position: absolute;
    top: 0;
    text-align: center;
    display: none;
}
.dev {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dev-des {
    display: none;
    position: absolute;
    top: 0;
    text-align: center;   
}

}
.product{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}
.pro-des {
    display: none;
    position: absolute;
    top: 0;
    text-align: center;  
}
.port {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.bac {
    display: none;
    color: rgb(241, 9, 9);
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.456);
    position:absolute;
    top: 20px;
    left: 35px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
}

    


